{% extends 'menu.html' %}
{% block headpage %}


{% endblock %}
{% block content %}
<div class="container">

        <div class="row">

            <div class="col-md-12 mt-4">

                <table class = "table table-hover">

                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Spanish</th>
                            <th scope="col">{{ lang.language }}</th>
                        </tr>
                    </thead>



                    {% for word in words %}

                        <tr class="table-line">

                            <td>{{ word.id }}</td>
                            <td>{{ word.word_es }}</td>
                            <td>{{ word.word_ot }}</td>

                        </tr>

                    {% endfor %}

                  </tbody>

                </table>

            </div>

        </div>

    </div>
{% endblock %}