
{% extends 'index.html' %}

{% block content %}


<div class="container-fluid" >



    <div class="row d-flex justify-content-center">

<div class="col-md-8">

        <!-- Card -->
        <div class="card gradient-card">

          <!-- Card image -->
          <div class="view view-cascade gradient-card-header peach-gradient px-2">

            <!-- Title -->
            <h2 class="card-header-title mb-3">Translator</h2>
            <!-- Subtitle -->
            <p class="card-header-subtitle mb-0 text-dark">Add the new words to the dictionary</p>

          </div>

          <!-- Card content -->
          <div class="card-body card-body-cascade text-center">




              <div class="row d-flex justify-content-center">


                  <div class="col-md-10">


                      <form method="POST">

                              <div class="row d-flex justify-content-center">


                                  <div class="col-md-5">

                                      <div class="md-form form-group">
                                          <input type="text" class="form-control mr-sm-3" id="spw1" >
                                          <label for="spw1">Spanish Word</label>
                                      </div>

                                  </div>
                                  <div class="col-md-5">

                                      <div class="md-form form-group">
                                        <input type="text" class="form-control" id="mayw1" >
                                        <label for="mayw1">Maya Word</label>
                                      </div>

                                  </div>

                              </div>

                              <div class="row d-flex justify-content-center">


                                  <div class="col-md-5">

                                      <div class="md-form form-group">
                                        <input type="text" class="form-control" id="spw2" >
                                        <label for="spw2">Spanish Word</label>
                                      </div>

                                  </div>
                                  <div class="col-md-5">

                                      <div class="md-form form-group">
                                        <input type="text" class="form-control" id="mayw2" >
                                        <label for="mayw2">Maya Word</label>
                                      </div>

                                  </div>

                              </div>

                              <div class="row d-flex justify-content-center mb-4">


                                  <div class="col-md-5">

                                      <div class="md-form form-group">
                                        <input type="text" class="form-control" id="spw3" >
                                        <label for="spw3">Spanish Word</label>
                                      </div>

                                  </div>
                                  <div class="col-md-5">

                                      <div class="md-form form-group">
                                        <input type="text" class="form-control" id="mayw3" >
                                        <label for="mayw3">Maya Word</label>
                                      </div>

                                  </div>

                              </div>


                              <div class="row d-flex justify-content-center">

                                  <input class="btn btn-primary" type="submit" value="Insert" />

                              </div>





                          </form>


                  </div>


              </div>





            <hr>

            <!-- Twitter -->
            <a class="">Pamparios</a>

          </div>

        </div>
        <!-- Card -->

</div>

    </div>



</div>

{% endblock %}
<script>

    $(document).ready(function() {

    alert("HHHHH");

    });

</script>