

{% extends 'index.html' %}

{% block content %}

<div class="container-fluid" >

    <div class="row d-flex justify-content-center">

        <div class="col-md-8" >

                <!-- Card -->
                <div class="card gradient-card">

                  <!-- Card image -->
                  <div class="view view-cascade gradient-card-header peach-gradient px-2">

                      <h2 class="card-header-title mb-3">Extraction Progress</h2>

                  </div>

                  <!-- Card content -->
                  <div class="card-body card-body-cascade text-center">




                      <div class="row d-flex ">


                          <div class="col-md-3">


<!--                              <table class="table table-hover">-->

<!--                                  -->


<!--                              </table>-->

                              {% for cover in cover_pages %}

                                  <div class=" row mb-3">

                                      <a href="/extracting/{{ cover.split('/translator_ressources/app_files_cover_page/')[1].rsplit('__COVER_PAGE.jpg')[0] }}/">

                                          <img class="rounded" src="{{ cover }}" alt="cover page" style="margin-left: 12.5%;width: 120px;">

                                      </a>

                                  </div>

                              {% endfor %}


                          </div>


                          <div class="col-md-9">


                              <table class="table table-hover">
                              <thead>
                                <tr>
<!--                                  <th>#</th>-->
                                  <th>Name</th>
                                  <th>Progression</th>
<!--                                  <th>Languages</th>-->
<!--                                  <th>Download</th>-->
<!--                                  <th>Make Action</th>-->
                                </tr>
                              </thead>
                              <tbody>


                              {% if docs %}


                                  {% for doc in docs %}


                                        <tr>
                                          <th scope="row">{{ doc.id_doc }}</th>
                                          <td>{{ doc.name_doc }}</td>
                                          <td>0 %</td>
                                          <td>{{ doc.ownlang.language }}</td>
                                          <td><button type="button" class="btn btn-success az-radius btn-sm my-0"><i class="fa fa-download"></i></button></td>
                                          <td>

                                             <button type="button" class="btn btn-info az-radius btn-sm my-0"><i class="fa fa-folder-open"></i></button>
                                             <button type="button" class="btn btn-info az-radius btn-sm my-0"><i class="fa fa-remove"></i></button>
                                             <button type="button" class="btn btn-info az-radius btn-sm my-0"><i class="fa fa-info-circle"></i></button>

                                          </td>
                                        </tr>


                                  {% endfor %}


                              {% endif %}


                              {% if files_images %}


                                  {% for fi in files_images %}


                                        <tr>
<!--                                          <th scope="row"></th>-->
                                          <th scope="row">{{ fi.doc_added_page_name }}</th>
                                          <th>

                                              <div class="progress">

                                                  <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active"
                                                       role="progressbar" aria-valuenow="{{ fi.page_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ fi.page_progress }}%">

                                                    <span id="current-progress text-center">{{ fi.page_progress }}%</span>

                                                  </div>

                                              </div>

                                          </th>

                                        </tr>


                                  {% endfor %}


                              {% endif %}



                              </tbody>
                            </table>

                          </div>


                      </div>

                    <hr>

                    <a class="">Pamparios</a>

                  </div>

                </div>

        </div>

    </div>


</div>

{% endblock %}
