{% extends 'menu.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="card card-login mx-auto mt-5">
      <div class="card-header">Edit form for an user</div>
      <div class="card-body">
        <form method="POST" action="/admin/account/edit/?id={{request.args.get('id')}}">
          <div class="form-group">
           {{ wtf.form_field(form.email) }}
          </div>
		  <div class="custom-control custom-radio">
			  {{ wtf.form_field(form.is_admin) }}
		  </div>
		  <br>
           <input class="btn btn-primary btn-block" type="submit" value='Save' />
		</form>
      </div>
</div>
{% endblock %}