{% extends 'menu.html' %}
{% block headpage %}

{% endblock %}
{% block content %}

    <div class="card-login mx-auto mt-5">
       {% if success %}
            <div class="alert alert-success" role="alert">
              The file is deleted with success !!
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
              The file can't be deleted because :{{ error }}
            </div>
        {% endif %}
        <a  class="btn btn-primary" href="{{ url_for('scan_app.files') }}">Go to files page</a>
    </div>
{% endblock %}