{% extends 'menu.html' %}
{% block content %}

<div class="card m-3">

        <div class="card-header">
              <i class="fa fa-file-pdf-o"></i> File
        </div>

        <div class="card-body">

                <div class="card p-4 mb-4">

                    <div class="row m-1">
                        <div class="col">
                            <span class="font-weight-bold">Name : </span> {{ pdf_file.name }}</div><a class="fa fa-edit mt-1" href="{{ url_for('scan_app.edit', pdf_id= pdf_file.id ) }}"></a>
                        <div class="col"><span class="font-weight-bold">Number Page : </span>{{ pdf_file.num_page }}</div>
                    </div>

                    <div class="row m-1">
                        <div class="col">
                            <span class="font-weight-bold">Range Start/End : </span>
                            {% if pdf_file.has_range() == True %}
                                {{ pdf_file.range_start }}/{{ pdf_file.range_end }}
                            {% else %}
                                OFF
                            {% endif %}
                        </div>
                        <div class="col">
                            <span><span class="font-weight-bold">State : </span>  {{ (pdf_file.state | value_state_file )|safe }}</span>
                        </div>

                    </div>

                <div class="row m-1">
                    <div class="col">
                        <span class="font-weight-bold">Upload at : </span><span>{{ pdf_file.date_upload.strftime("%y/%m/%d %H:%M:%S") }}</span>

                    </div>
                     <div class="col">
                        <span class="font-weight-bold">Upload by : </span><span>{{ pdf_file.owner.email }}</span>

                    </div>
                </div>

                <div class="row m-1">
                        <div class="col">
                            <a class="btn btn-primary" href="{{ url_for('scan_app.pdf', pdf_id= pdf_file.id ) }}"><i class="fa fa-file-pdf-o m-1"></i>View Pdf</a>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col">
                        <div class="card mb-3">

                        <div class="card-header">
                          <i class="fa fa-list-ol"></i> Logs
                        </div>

                        <div class="card-body">

                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Time</th>
                                  <th scope="col">Message</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for log in last_logs|reverse %}
                                    {% if log.type == 1 %}
                                        <tr class="bg-success">
                                    {% elif log.type == -1 %}
                                        <tr class="bg-danger">
                                    {% else %}
                                         <tr>
                                    {% endif %}
                                      <th scope="row">{{  log.id }}</th>
                                      <td>{{  log.time }}</td>
                                      <td>{{ log.message }}</td>
                                  </tr>
                                {% endfor %}

                              </tbody>
                            </table>

                        </div>


                      </div><!-- end <div class="card mb-3">-->
                    </div>
                </div>
        </div>
</div>

{% endblock %}