{% extends 'menu.html' %}
{% block headpage %}

    <script src="{{ url_for('static', filename='js/progress.js') }}"></script>

{% endblock %}
{% block content %}
<div class="container">
{#        <a class="btn btn-primary" href="{{url_for('scan_app.upload')}}" >Uploaod</a>#}

        <div class="row">

            <div class="col-md-12 mt-4">

                <table class = "table table-hover">

                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">State</th>
                            <th scope="col">Open</th>
                            <th scope="col">Download</th>
                            <th scope="col">language</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Detail</th>

                        </tr>
                    </thead>

                    {% for file in files %}

                        <tr class="table-line">

                            <td>{{ file.id }}</td>
                            <td>{{ file.name }}</td>
                            <td>{{ (file.state | value_state_file )|safe }}</td>

                            {% if file.state == 2 or file.state == -1%}
                                <td><a class="text-center d-block" href="{{ url_for('scan_app.selection_extract', pdf_id= file.id ) }}"><i class="fa fa-folder-open"></i></a></td>
                                <td><a class="text-center d-block" href="{{ url_for('scan_app.download', pdf_id= file.id ) }}"><i class=" fa fa-download"></i></a></td>
                                <td><a class="text-center d-block" href="{{ url_for('scan_app.selection_language', pdf_id= file.id ) }}"><i class="fa fa-language"></i></a></td>
                            {% else %}
                                <td></td><td></td><td></td>
                            {% endif %}
                            <td><a class="text-center d-block" href="{{ url_for('scan_app.delete_file', pdf_id= file.id ) }}"><i class="fa fa-times-circle"></i></a></td>
                            <td><a class="text-center d-block" href="{{ url_for('scan_app.details', pdf_id= file.id ) }}"><i class="fa fa-info-circle"></i></a></td>
                        </tr>

                    {% endfor %}

                  </tbody>

                </table>

            </div>

        </div>

    </div>
{% endblock %}